{{> header title="Edit Review" }}

<body>
  
  {{> nav }}
  
  <div class="container-fluid mt-3">
    
    <div class="row">
      <div class="col-md-8 offset-md-2 mt-2">
  
        <div class="row">
          <div class="col">
            <a href="/reviews" class="btn btn-primary btn-sm float-left mx-2 mb-4">Discard Changes</a>
            <h5 class="mb-3 text-center">Edit Review</h5>
            {{> flash }}
          </div>
        </div>
        
        <form id="form">
            
          <input type="hidden" class="form-control" name="reviewId" id="reviewId" value="{{ review.id }}">
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewName" class="col-3 col-form-label pb-0">Name</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewName" placeholder="Enter review name" value="{{ review.name }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewDisplayName" class="col-3 col-form-label pb-0">Display Name</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewDisplayName" placeholder="Enter review display name" value="{{ review.displayName }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTagline" class="col-3 col-form-label pb-0">Tagline</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewTagline" placeholder="Enter review tagline" value="{{ review.tagline }}">
            </div>
          </div>
          
          {{!--
          <div class="form-group row mb-0 pb-2">
            <label for="reviewNumTrackers" class="col-3 col-form-label pb-0"># Trackers</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewNumTrackers" placeholder="Enter # Trackers" value="{{ review.numTrackers }}">
            </div>
          </div> --}}
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewNumAttempts" class="col-3 col-form-label pb-0"># Attempts</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewNumAttempts" placeholder="Enter # Attempts" value="{{ review.numAttempts }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewRating" class="col-3 col-form-label pb-0">Rating</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewRating" placeholder="Enter Rating" value="{{ review.rating }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewRating" class="col-3 col-form-label pb-0">Rating Reason</label>
            <div class="col">
              <textarea rows="3" type="text" name="reviewRatingReason" class="form-control" style="overflow-y: scroll;">{{ review.ratingReason }}</textarea>
            </div>
          </div>
        
          {{!-- <div class="form-group row mb-0 pb-2">
            <label for="reviewDate" class="col-3 col-form-label pb-0">Date</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewDate" placeholder="Enter Date" value="{{ review.date }}">
            </div>
          </div> --}}
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewPlatforms" class="col-3 col-form-label pb-0">Platforms</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewPlatforms" placeholder="Enter Platforms" value="{{ review.platforms }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewRanking" class="col-3 col-form-label pb-0">Ranking</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewRanking" placeholder="Enter Ranking" value="{{ review.ranking }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewIconUrl" class="col-3 col-form-label pb-0">Icon URL</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewIconUrl" placeholder="Enter Icon URL" value="{{ review.iconUrl }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewDisclaimer" class="col-3 col-form-label pb-0">Disclaimer</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewDisclaimer" placeholder="Enter Disclaimer" value="{{ review.disclaimer }}">
            </div>
          </div>
          
          <div class="row mb-0 pb-2">
            <p class="col-3 my-0 py-0">🙋‍♀️ Full Name</p>
            <p class="col-3 my-0 py-0">✉️ Email Address</p>
            <p class="col-3 my-0 py-0">📅 Full Birthdate</p>
            <p class="col-3 my-0 py-0">📷 Camera</p>
            <p class="col-3 my-0 py-0">🎤 Microphone</p>
            <p class="col-3 my-0 py-0">❗️ Notification</p>
            <p class="col-3 my-0 py-0">📇 Contacts</p>
            <p class="col-3 my-0 py-0">🤦‍♀️ Facebook Connect</p>
            <p class="col-3 my-0 py-0">📞 Phone Number</p>
            <p class="col-3 my-0 py-0">🖼 Photos</p>
            <p class="col-3 my-0 py-0">📍 Location</p>
            <p class="col-3 my-0 py-0">🏠 Physical Address</p>
            <p class="col-3 my-0 py-0">💳 Financial Info</p>
            <p class="col-3 my-0 py-0">🏥 Health Data</p>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewDataRequiredInfo" class="col-3 col-form-label pb-0">Required Info</label>
            <div class="col">
              <fieldset>
                {{#each review.dataRequiredInfo}}
                <input type="text" class="form-control" name="reviewDataRequiredInfo[]" placeholder="Enter DataRequiredInfo" value="{{ this }}">
                {{/each}}
                <input type="text" class="form-control" name="reviewDataRequiredInfo[]" placeholder="Enter DataRequiredInfo">
                <input type="text" class="form-control" name="reviewDataRequiredInfo[]" placeholder="Enter DataRequiredInfo">
                <input type="text" class="form-control" name="reviewDataRequiredInfo[]" placeholder="Enter DataRequiredInfo">
                <input type="text" class="form-control" name="reviewDataRequiredInfo[]" placeholder="Enter DataRequiredInfo">
                <input type="text" class="form-control" name="reviewDataRequiredInfo[]" placeholder="Enter DataRequiredInfo">
              </fieldset>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewScreenshotUrl" class="col-3 col-form-label pb-0">Screenshot URL of Trackers</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewScreenshotUrl" placeholder="Enter ScreenshotUrl" value="{{ review.screenshotUrl }}">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTrackers" class="col-3 col-form-label pb-0">Trackers</label>
            <div class="col">
              {{#each review.trackers}}
                <input type="text" class="form-control" name="reviewTrackerNames[]" value="{{this.name}}">
              {{/each}}
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
              <input type="text" class="form-control" name="reviewTrackerNames[]" placeholder="Enter Tracker Name">
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTestMethod" class="col-3 col-form-label pb-0">How was tracker testing conducted? (Tested using Lockdown____)</label>
            <div class="col">
              <textarea rows="3" type="text" name="reviewTestMethod" class="form-control" style="overflow-y: scroll;">{{ review.testMethod }}</textarea>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTestDescription" class="col-3 col-form-label pb-0">How many total tracking attempts? In what time duration? What actions were taken?</label>
            <div class="col">
              <textarea rows="4" type="text" name="reviewTestDescription" class="form-control" style="overflow-y: scroll;">{{ review.testDescription }}</textarea>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTestOpen" class="col-3 col-form-label pb-0">How many tracking attempts each time the app is opened?</label>
            <div class="col">
              <textarea rows="3" type="text" name="reviewTestOpen" class="form-control" style="overflow-y: scroll;">{{ review.testOpen }}</textarea>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTestConsent" class="col-3 col-form-label pb-0">Did user give consent to tracking before tracking started?</label>
            <div class="col">
              <textarea rows="3" type="text" name="reviewTestConsent" class="form-control" style="overflow-y: scroll;">{{ review.testConsent }}</textarea>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTestBackground" class="col-3 col-form-label pb-0">Any background tracking when app isn't open?</label>
            <div class="col">
              <textarea rows="3" type="text" name="reviewTestBackground" class="form-control" style="overflow-y: scroll;">{{ review.testBackground }}</textarea>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewTestNotes" class="col-3 col-form-label pb-0">Other important notes?</label>
            <div class="col">
              <textarea rows="3" type="text" name="reviewTestNotes" class="form-control" style="overflow-y: scroll;">{{ review.testNotes }}</textarea>
            </div>
          </div>
        
          <div class="form-group row mb-0 pb-2">
            <label for="reviewSummaryUrl" class="col-3 col-form-label pb-0">Infographic URL</label>
            <div class="col">
              <input type="text" class="form-control" name="reviewSummaryUrl" placeholder="Enter SummaryUrl" value="{{ review.summaryUrl }}">
            </div>
          </div>
          
          <div class="form-group row mb-0 pb-2">
            <label for="reviewPublished" class="col-3 col-form-label pb-0">Published?</label>
            <div class="col pt-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="reviewPublished" id="reviewPublishedTrue" value="true" {{#if review.published}}checked{{/if}}>
                <label class="form-check-label" for="reviewPublishedTrue">true</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="reviewPublished" id="reviewPublishedFalse" value="false" {{#unless review.published}}checked{{/unless}}>
                <label class="form-check-label" for="reviewPublishedFalse">false</label>
              </div>
            </div>
          </div>
        
        </form>

        <button id="submitButton" class="btn btn-primary btn float-right mr-2 mb-5 mt-3">Save Review</button>
        <button id="deleteButton" class="btn btn-outline-danger btn float-left mx-2 mt-3">Delete Review</button>

      </div>      
    </div>
    
  </div>
  
  {{> footer}}

  {{> bootstrapjs}}
  
  <script>
    $("#submitButton").on( "click", function(e) {
      e.preventDefault();
      var data = $("#form").serialize();
      $.ajax({
         type: 'POST',
         url: '/save-review',
         data: data,
         dataType: 'json',
         success: function (data, status) {
           window.location = "/reviews"
         },
         error: function(error, status) {
           alert("error: " + JSON.stringify(error, null, 2))
         }
      });
      return false; 
    });
  
    $("#deleteButton").on( "click", function(e) {
      e.preventDefault();
      if (confirm("Sure you want to delete this? There's no Undo.")) {
        var data = $("#form").serialize();
        $.ajax({
           type: 'POST',
           url: '/delete-review',
           data: data,
           dataType: 'json',
           success: function (data, status) {
             window.location = "/reviews"
           },
           error: function(error, status) {
             alert("error: " + JSON.stringify(error, null, 2))
           }
        });
      }
      return false;
    });
  </script>
  
</body>
